body {
  background-color: black;
}
h1 { /*the size and style for the H1 font*/
  text-transform: capitalize;
  font-size: 3rem;
}

.poster { /*Styling for the poster itself*/
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img { /*The photo formate for the image in the poseter*/
  border: 5px solid white;
  width: 100%;
}
